.intro_card{
    border: 2px solid black;
    border-radius: 1px;
    padding: 10px;
    background-color: #b9ffc1e4;
    border-radius: 10px;
    background-image: url(../asfalt-light.png);
}

.preamble{
    background-color: #ccccccce;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: trasform 0.5s;
}
/*
.vid:hover{
    box-shadow: 4px 4px 10px #000, 0 0 20px #000000;
    transform: scale(1.1);

}
    */
.vid_cap{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.vid_cap:hover{
    text-shadow: 4px 4px 10px #000, 0 0 20px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 200%;
    transition-duration: justify-content 0.5s,align-content 0.5s,text-shadow 0.5s;
}
    */

body{
    background-image: url(../style/images/original.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 10px;
    padding: 10px;
}

.eb-garamond-text {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  background-color: rgb(0, 0, 0,0.5);
}

.button{
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
    background-color: coral;
    color: lavenderblush;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}
.button:hover{
    background-color: rgb(255, 80, 80);
    color: lavender;
    font-weight: 800;
    transition: text-shadow 0.5s ease, font-weight 0.5s ease, color 0.5s ease;
}

.heading{
    
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccccccce;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.534);
    font-size: 50px;
    background-image: url(./images/crowd-people-front-stage-during-600nw-2502759197.webp);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-blend-mode: color;
    background-size: 100%;
    text-shadow: #ccccccce;
}
.heading:hover {
  text-shadow: 4px 4px 10px #000, 0 0 20px #fff;
  font-size: 80px;
  color: aliceblue;
  transition: text-shadow 0.6s ease, font-size 0.6s ease, color 0.6s ease;
}



